.container {
    margin-left: 40px;
}

.garis-atas {
    margin-top: 30px;
    margin-right: 50%;
}

.subjudul {
    color: lightgreen;
    font-size: 24px;
    margin-bottom: 0;
}

.subjudul-2 {
    color: lightblue;
    font-size: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}

.nama {
    margin-bottom: 0px;
}

.informasi-tempat p {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
}

.deskripsi {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 16px;
}

.across-the-internet a:hover {
    color: lightgreen;
}

.across-the-internet a:visited {
    color: green;
}

.across-the-internet a:active {
    opacity: 0.9;
}